/*
 * Flex
 */

.flex {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &--full {
    margin-left: calc(0px - $gutter / 2);
    margin-right: calc(0px - $gutter / 2);
  }
}

@import "flex/direction";
@import "flex/align-items";
@import "flex/justify-content";
@import "flex/gap";
@import "flex/child";
