/*
 * Gutter
 */
.gutter {
  padding-left: $gutter;
  padding-right: $gutter;

  @media (max-width: $medium) {
    padding-left: calc($gutter / 2);
    padding-right: calc($gutter / 2);
  }

  &--2x {
    padding-left: calc($gutter * 2);
    padding-right: calc($gutter * 2);

    @media (max-width: $medium) {
      padding-left: calc($gutter / 2);
      padding-right: calc($gutter / 2);
    }
  }
}
