/*
 * Input
 */
.input,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"] {
  margin: 0;
  border: $input-border;
  border-radius: $input-border-radius;
  max-width: 100%;
  width: $input-width;
  height: $input-height;
  padding: $input-padding;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  color: $input-color;
  background-color: $input-background-color;
}
