/*
 * Input
 */
.input,
input[type="text"],
input[type="email"],
input[type="search"] {
  border: $input-border;
  border-radius: $input-border-radius;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  color: $input-color;
  background-color: $input-background-color;
}
