* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: auto;
}
