body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.25;
  color: $fable-body-color;
}

// trim text to a specific number of rows
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: $fable-line-clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &--2x {
    -webkit-line-clamp: calc($fable-line-clamp * 2);
  }
}
