/*
 * Variables - Default values 
 * Assign your own values by creating a _config.scss and import it before Fable UI
 */

// Colors
$border-color: #222 !default;
$text-color: #222 !default;
$background-color: white !default;

// Layout
$gutter: 30px !default;

// Flex
$flex-gap: 30px !default;
$flex-row-gap: 30px !default;
$flex-column-gap: 30px !default;

// Input
$input-border: 1px solid #222 !default;
$input-border-radius: 2px !default;
$input-padding: 15px !default;
$input-color: #222 !default;
$input-background-color: white !default;

// Button
$button-border-radius: 2px !default;
$button-padding: 10px 20px !default;
$button-color: white !default;
$button-background-color: #222 !default;

// Typography
$line-clamp: 2;

// Media breakpoints
$xlarge: 1440px !default;
$large: 1024px !default;
$medium: 768px !default;
$small: 580px !default;
$xsmall: 480px !default;
