/*
 * Variables - Default values 
 * Assign your own values by creating a _config.scss and import it before Fable UI
 */

// Colors
$body-color: #222 !default;
$body-background-color: white !default;

// Margins, paddings and gaps
$gutter: 30px !default;

// Flex
$flex-gap: 30px !default;
$flex-row-gap: 30px !default;
$flex-column-gap: 30px !default;

// Buttons
$button-border-radius: 2px !default;
$button-padding: 10px 20px !default;
$button-color: white !default;
$button-background-color: #222 !default;

// Typography
$line-clamp: 2;

// Media breakpoints
$xlarge: 1340px !default;
$large: 992px !default;
$medium: 750px !default;
$small: 576px !default;
$xsmall: 480px !default;
